# Admins
* @comfyanonymous @kosinkadink @guill @alexisrolland @rattus128

# Partner nodes team maintains API nodes
/comfy_api_nodes/ @partner-nodes-mergers

# Frontend team maintains requirements.txt `comfyui-frontend-package`
/requirements.txt @frontend-team

# Go to market team maintains requirements.txt `comfyui-workflow-templates` and `comfyui-embedded-docs`
/requirements.txt @gtm-team